<div class="page panel js_show">
  <div class="page__hd">
    <h1 class="page__title">重构</h1>
    <p class="page__desc">探索前端重构之道</p>
  </div>
  <div class="page__bd">
    <div class="weui-panel weui-panel_access">
      <div class="weui-panel__hd">目录</div>
      <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_text" v-on:click="_actionTrigger('gotoPage','h5/view/babel')" >
          <h4 class="weui-media-box__title">以问题开始</h4>
          <p class="weui-media-box__desc">通天塔如何建成</p>
        </div>
        <div class="weui-media-box weui-media-box_text" v-on:click="_actionTrigger('gotoPage','h5/view/all_process')">
          <h4 class="weui-media-box__title">什么是重构 何时需要重构</h4>
          <p class="weui-media-box__desc">何时需要装修的简单问题</p>
        </div>
        <div class="weui-media-box weui-media-box_text" v-on:click="_actionTrigger('gotoPage','h5/view/preparation')">
          <h4 class="weui-media-box__title">重构准备</h4>
          <p class="weui-media-box__desc">代码未动，测试先行</p>
        </div>
        <div class="weui-media-box weui-media-box_text" v-on:click="_actionTrigger('gotoPage','h5/view/methods')">
          <h4 class="weui-media-box__title">重构之术</h4>
          <p class="weui-media-box__desc">理论源于实践，处处留心皆学问</p>
        </div>
        <div class="weui-media-box weui-media-box_text" v-on:click="_actionTrigger('gotoPage','h5/view/instance')">
          <h4 class="weui-media-box__title">重构实例</h4>
          <p class="weui-media-box__desc">遵照PDCA循环逐步改进的现实案例</p>
        </div>
        <div class="weui-media-box weui-media-box_text" v-on:click="_actionTrigger('gotoPage','h5/view/epilogue')">
          <h4 class="weui-media-box__title">多余的话</h4>
          <p class="weui-media-box__desc">理论源于实践</p>
        </div>
        <div class="weui-media-box weui-media-box_text" v-on:click="_actionTrigger('gotoPage','h5/view/code_standards')">
          <h4 class="weui-media-box__title">编码规范</h4>
          <p class="weui-media-box__desc">不受限制和约束汝岂得自由</p>
        </div>
      </div>

      <div class="weui-panel__ft" style='display:none'>
        <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
          <div class="weui-cell__bd">查看更多</div>
          <span class="weui-cell__ft"></span>
        </a>
      </div>
    </div>

  </div>
  <div class="page__ft">
    <a href="javascript:home()"><img src="./images/icon_footer_link.png" style='display:none'></a>
  </div>
</div>
