<div class="container" id="container">
  <div class="page article js_show">
    <div class="page__hd">
      <h1 class="page__title">typescript</h1>
      <p class="page__desc">Javascript的超集</p>
    </div>
    <div class="page__bd">
      <article class="weui-article">
        <h1></h1>
        <section>
          <h2 class="title"></h2>
          <section>
            <h3>typescript在前端开发中的价值</h3>
            <p>
              <h4>为框架定义接口</h4>
              我们在定义框架接口的时候需要维护一套API文档，传统的做法可能是添加JSDoc的注释，最后通过Jsdoc来自动生成文档。
              然而即使有文档，在开发过程中也需要去查阅校对，而通过typescript定义接口甚至可以提供代码提示的功能。
            </p>
            <p>
              <h4>模块的设计规划</h4>
              前端代码的撰写往往缺乏足够的前期规划，关于功能函数，数据源获取函数，事件绑定函数，我们在没有规划的情况下仓促开始
              往往到后期的时候需要不断调整。
              在多人协作的情况下，函数在没有实现之前如果没有整体的规划，往往会后期去修改函数接口，
              导致依赖该函数的调用函数需要不断被调整。使用typescript定义函数接口可以使得函数的实现交由其他程序员来具体实现。
            </p>
            <p>
              <h4>强类型</h4>
              Javascript的弱类型往往导致一些捉摸不定的错误，给参数添加类型可以有效避免一些typo和接口调用层面的错误。
            </p>
            <pre>
              <code>
              </code>
            </pre>
          </p>
        </section>
      </section>
    </article>
  </div>
  <div class="page__ft" style='display:none'>
    <a href="javascript:home()"><img src="./images/icon_footer_link.png"></a>
  </div>
</div></div>
